	.modal-button {
		font-size: 16px;
		color: #ffffff;
		border: 1px solid #e7ab3c;
		background: #e7ab3c;
		height: 45px;
		padding: 12px 16px 12px;
	}
		
	.modal-button1 {
		font-size: 16px;
		color: #ffffff;
		border: 1px solid #787878;
		background: #787878;
		height: 45px;
		padding: 12px 16px 12px;
	}
	
	.modal{
		position: fixed;
		top:0; left: 0; bottom: 0; right: 0;
		background: rgba(0, 0, 0, 0.8); /* 투명도 */
	}
	
	#ri-modal_content{
		position: absolute;  /* 배경 내에서 위치 조정 */
		top: calc(50vh - 100px); left: calc(50vw - 200px);
		background-color: white;
		border-radius: 10px;
		width: 400px;
		height: 200px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-content: center;
		justify-content: center;
	}