<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.market.dao.AdminMapper">
	<select id = "getTotalRecordsCount" resultType = "int" parameterType = "String">
 		select
 			count(*)
 		from
 			item_table it
 		<where>
 			<if test = "searchWord != ''">
 				it.item_num in (select item_Num
		 					from item_table
		 					where item_name like '%'||#{searchWord }||'%')
 			</if>
 		</where>
 	</select>
 	
 	<select id = "getItemList" resultType = "Item" parameterType = "HashMap">
 		select distinct
 			it.item_num as itemNum,
 			it.item_name as itemName,
 			it.price as price,
 			it.item_amount as itemAmount,
 			(select distinct ct.category_name
 				from category_table ct
 				where it.category_num = ct.category_num) as categoryName
 		from
 			item_table it,
 			(select
 				rownum as rn,
 				item_num as ln
 			from
 				item_table
 			order by
 				item_num) rt
 		where
 			it.item_num = rt.ln
		and
		<if test = "searchWord != ''">
			it.item_num in (select item_num
			        			from item_table
								where item_name like '%'||#{searchWord }||'%')
			and
		</if>
			rt.rn between #{startRecord } + 1 and #{startRecord } + #{countPerPage }
 		order by item_num
 	</select>
 	
 	<delete id = "itemDelete" parameterType = "int">
 		delete from item_table
 		where item_num = #{itemNum }
 	</delete>
 	
 	<insert id = "itemInsert" parameterType = "HashMap">
 		insert into item_table(
			item_num,
			category_num,
			item_name,
			price,
			item_amount 		
 		)
 		values (
 			item_num_seq.nextval,
 			#{category },
 			#{itemName },
 			#{intPrice },
 			#{itemAmount }
 		)
 	</insert>
</mapper>