<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.market.dao.OrderMapper">
	
	<!-- 1.페이징 -->
	<select id = "getTotalRecordsCount" parameterType="String" resultType = "int">
 		select
 			count(*)
 		from
 			order_table
 		<where>
 			<if test = "searchWord != ''">
 				item_num = (select item_Num
 					from item_table
 					where item_name = #{searchWord })
 			</if>
 		</where>
 	</select>

	<!-- 1-2.주문 리스트 불러오기 -->
	<select id="getOrderList" resultType="Order" parameterType="HashMap">
		select 
		    ot.order_num as orderNum,
			(select distinct it.item_name
        		from item_table it,
        			order_table ot
				where it.item_num = ot.item_num) as itemName,
		    ot.order_address as orderAddress,
		    ot.order_mail as orderMail,
		    ot.order_call as orderCall,
		    ot.amount as amount,
		    to_char(ot.indate, 'yy/mm/dd hh24:mi:ss') as indate,
            (select distinct it.price
                from item_table it,
                	order_table ot
                where it.item_num = ot.item_num) as price
		from   
		    order_table ot,
		    (select distinct
		    	rownum as rn,
		    	order_num as ln
		    from
		    	order_table
		    order by
		    	order_num) rt
		where
			ot.order_num = rt.ln
		and
			rt.rn between #{startRecord } + 1 and #{startRecord } + #{countPerPage }
		and		
		    ot.user_num = (select distinct ut.user_num
		                        from user_table ut
		                        where ut.user_mail= 'abc@gmail.com')
		<if test = "searchWord != ''">
		and
			ot.item_num = (select distinct it.item_num
        		from item_table it
				where it.item_name like '%'||#{searchWord }||'%')
		</if>
		order by order_num
	</select>
	
	<!-- 2.주문 취소 -->
	<delete id="orderCancle" parameterType="ArrayList">
		delete from order_table
		where order_num = 
		<foreach collection='list' index="index" item='item' separator="or order_num =" open=" " close=" ">
		#{item }
		</foreach>
	</delete>
</mapper>