<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.market.dao.UserMapper">

<!-- 회원가입 -->
<insert id="signUpUser" parameterType="User">
	insert into user_table(
		user_num,
		user_name,
		user_mail,
		user_pw,
		user_call,
		postcode,
		user_address
	)values(
		user_num_seq.nextval,
		#{userName },
		#{userMail },
		#{userPw },
		#{userCall },
		#{postcode },
		#{userAddress }
	)
</insert>

<!-- 회원 정보 조회 -->
<select id="getUser" parameterType="String" resultType="User">
	select
		user_num as userNum,
		user_name as userName,
		user_mail as userMail,
		user_call as userCall,
		authority as role
	from
		user_table
	where
		user_mail = #{userMail }
</select>
	
<!-- 회원 탈퇴 -->
<!-- <delete id = "userDelete" parameterType="String">
	delete from user_table
	where user_mail = #{userMail }
</delete> -->
</mapper>