<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.market.dao.UserMapper">

<!-- 회원가입 -->
<insert id="signUpUser" parameterType="User">
	insert into user_table(
		user_num,
		user_name,
		user_mail,
		user_pw,
		user_call,
		postcode,
		user_address
	)values(
		user_num_seq.nextval,
		#{userName },
		#{userMail },
		#{userPw },
		#{userCall },
		#{postcode },
		#{userAddress }
	)
</insert>

<!-- 회원 정보 조회 -->
<select id="getUser" parameterType="String" resultType="User">
	select
		user_num as userNum,
		user_name as userName,
		user_mail as userMail,
		user_call as userCall,
		authority as role
	from
		user_table
	where
		user_mail = #{userMail }
</select>
	
<!-- 회원 탈퇴 -->
<!-- <delete id = "userDelete" parameterType="String">
	delete from user_table
	where user_mail = #{userMail }
</delete> -->

<!-- ID 찾기 -->
<select id="selectId" parameterType="User" resultType="String">
	select
		rpad(
			substr(substr(user_mail, 1, instr(user_mail, '@') - 1), 1, 2), 
			lengthb(substr(user_mail, 1, instr(user_mail, '@') - 1)), '*')
		|| '@' ||
		rpad(
			substr(substr(user_mail, instr(user_mail, '@') + 1), 1, 2), 
			lengthb(substr(user_mail, instr(user_mail, '@') + 1)), '*') as userMail
	from
		user_table
	where
		user_name = #{userName }
		and
		user_call = #{userCall }
</select>

<!-- PW 찾기 전 아이디 확인  -->
<select id="findUser" parameterType="User" resultType="String">
	select
		user_mail as userMail
	from
		user_table
	where
		user_mail = #{userMail }
</select>

<!-- PW 초기화 -->
<update id="updatePw" parameterType="User">
	update 
		user_table
	set
		user_pw = #{userPw }
	where
		user_mail = #{userMail }
</update>

<!-- 아이디로 수정할 정보 읽어오기 -->
<select id="readUser" parameterType="String" resultType="User">
	select
		user_name as userName,
		user_mail as userMail,
		user_call as userCall,
		postcode as postcode,
		substr(user_address, 1, instr(user_address, '_') - 1) as userAddress,
        substr(user_address, instr(user_address, '_') + 1) as role
	from
		user_table
	where 
		user_mail = #{userMail }
</select>

<!-- 회원 정보 수정 -->
<update id="userUpdate" parameterType="User">
	update 
		user_table
	set
		user_call = #{userCall },
		postcode = #{postcode },
		user_address = #{userAddress }
	where
		user_mail = #{userMail }
</update>
</mapper>