   	/* 검색결과 없을 때 테이블 정렬 */
   	div#not-found-search {
   		margin-left:auto;
   		margin-right:auto;
   		height: 300px;
   		bottom: 100px;
   	}
   	table#nothing {
   		margin-left:auto;
   		margin-right: auto;
   		height: 300px;
   		bottom: 100px;
   	}
   	div table td {
   		 text-align:center;
   	}
   	div table td a {
   		color:blue;
   	}
   	div table td a:hover {
   		color:blue;
   	}
   	div table th {
   		font-size:20px;
   		text-align :center;
   	}
   	
   	/* 별점 */
	.star-ratings {
		display:inline-block;
		color: #aaa9a9; 
		position: relative;
		unicode-bidi: bidi-override;
		width: max-content;
		-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: black;
	}
	.star-ratings-fill {
		color: #fff58c;
		padding: 0;
		position: absolute;
		z-index: 1;
		display: inline-block;
		top: 0;
		left: 0;
		overflow: hidden;
		-webkit-text-fill-color: gold;
	}
	.star-ratings-base {
		z-index: 0;
		padding: 0;
	}
		
  	/* 버튼 관련 */
  	input[type="button"] {
		border:none;
		position:relative;
		transition:800ms ease all;
		outline:none;
		border-radius:5px;
	}
	
	input[type="button"]:hover {
		background:#000;
		color:#E7AB3C;
	}
	
	input[type="button"]:before,input[type="button"]:after {
		content:'';
		position:absolute;
		top:0;
		right:0;
		height:2px;
		width:0;
		background: #E7AB3C;
		transition:400ms ease all;
	}
	
	input[type="button"]:after {
		right:inherit;
		top:inherit;
		left:0;
		bottom:0;
	}
	
	input[type="button"]:hover:before, input[type="button"]:hover:after {
		width:100%;
		transition:800ms ease all;
	}
