  	/* 버튼 관련 */
  	input[type="button"], input[type="submit"] {
		border:none;
		position:relative;
		transition:800ms ease all;
		outline:none;
		border-radius:5px;
	}
	
	input[type="button"]:hover, input[type="submit"]:hover {
		background:#000;
		color:#E7AB3C;
	}
	
	input[type="button"]:before,input[type="button"]:after,
	input[type="submit"]:before,input[type="submit"]:after {
		content:'';
		position:absolute;
		top:0;
		right:0;
		height:2px;
		width:0;
		background: #E7AB3C;
		transition:400ms ease all;
	}
	
	input[type="button"]:after,
	input[type="submit"]:after {
		right:inherit;
		top:inherit;
		left:0;
		bottom:0;
	}
	
	input[type="button"]:hover:before, input[type="button"]:hover:after,
	input[type="submit"]:hover:before, input[type="submit"]:hover:after {
		width:100%;
		transition:800ms ease all;
	}

	.blog-details-inner .blog-detail-title p:after {
	    position: absolute;
	    top: 8px;
	    height: 1px;
	    width: 230px;
	    background: #ebebeb;
	    content: "";
	}
	
	#btn-div {
		text-align: center;
		margin:2em;
		margin-left:6em;
	}
	
	#subject {
		height:60px;
		width:1125px;
		border:1px solid #dbdbdb;
		background-color:#F5F5F5;
		margin-bottom:1em;
	}
	
	.recipe-tag {
		width:1125px;
		border:1px solid #dbdbdb;
		background-color:#F5F5F5;
	}

	.recipe-tag span {
		display: inline-block;
	    font-size: 12px;
	    color: #636363;
	    padding: 5px 15px;
	    border: 1px solid #636363;
	    margin-right: 5px;
	    margin-bottom: 9px;
	    border-radius: 2px;
	}

	#tag-btn {
		width: 500px;
		border: none;
		display: block;
		background-color:#F5F5F5;
		
	}