table
{
	border: 3px solid #efefef;
}
  
tr, th, td
{
	border: 3px solid #efefef;
}
  
button 
{
	border:none;
	position:relative;
	transition:800ms ease all;
	outline:none;
}

button:hover 
{
	background:#000;
	color:#E7AB3C;
}

button:before,button:after 
{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #E7AB3C;
	transition:400ms ease all;
}

button:after 
{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}

button:hover:before, button:hover:after 
{
	width:100%;
	transition:800ms ease all;
}