#pinNumChk_false
{
    background-color: #ebebe4;
}
 
#pinNumChk_true
{
    background-color: white;
}

#pinNumChk_Btn
{
	background-color: #ebebe4; 
	width: 30%; 
	height: 50px; 
	color: #ebebe4;
}

#pinNumChk_Btn_true
{
	background-color: #434445;
	width: 30%; 
	height: 50px; 
	border-radius: 5px;
	color: white;
}

.correct
{
    color : green;
}
.incorrect
{
    color : red;
}

.empImg img 
{
  width: 104px;
  height: 125px;
  object-fit: cover;
  object-position:top;
}