/* 테이블 관련 */
		.table-basic {
    		border: 1px #E3E3E3 solid;
    		border-collapse: collapse;
    		text-align: center;
    		width: 400;
    		height: 300;
    	}
   
    	.table-basic th, .table-basic td {
    		border: none;
    		height: 10%;
    		width: 10%;
    	}
    	
    	.table-basic th {
    		border-bottom: 1px #E3E3E3 solid;
    		border-left: 1px #E3E3E3 solid;
    		background-color: #000;
    		color: #fff;
    		font-size: 21px;
    	}
    	
    	.table-basic td {
			background-color: #fff;
			color: #000;    	
    	}
    	
		.tr:not(:last-child) {
			border-bottom: 2px #D1D1D1 solid;
		}
		
    	/* 버튼 관련 */
    	button, input[type="button"] {
			border:none;
			position:relative;
			transition:800ms ease all;
			outline:none;
		}
		
		button:hover, input[type="button"]:hover {
			background:#000;
			color:#E7AB3C;
		}
		
		button:before,button:after,
		input[type="button"]:before,input[type="button"]:after {
			content:'';
			position:absolute;
			top:0;
			right:0;
			height:2px;
			width:0;
			background: #E7AB3C;
			transition:400ms ease all;
		}
		
		button:after,
		input[type="button"]:after {
			right:inherit;
			top:inherit;
			left:0;
			bottom:0;
		}
		
		button:hover:before, button:hover:after,
		input[type="button"]:hover:before, input[type="button"]:hover:after {
			width:100%;
			transition:800ms ease all;
		}
		
		#cancelButton {
			border-radius: 5px;
			margin-left: 3px;
			margin-bottom: 20px;
			border:none;
		}
		
		#search-button {
			width:5px;
			height:45px;
			border-radius:5px;
			left: 10em;
			bottom:-3.2em
		}
		
		#orderNum {
			width:30px;
			height:30px;
			cursor:pointer;
		}
/* 본문 관련 */
		h5 {
			font-weight: bold;
			padding-left: 20px;
			margin-top: 3px;
			font-weight: 2000;
		}
		
		.container-h5 {
			background: linear-gradient(-45deg, #f3f5f0 50%, #EBE8C7 50%);
			border-style: solid;
			border-width: 5px;
			border-color: #E7AB3C;
			border-radius: 15px;
		}
		
		#searchWord {
			 width: 25%;
			 height: 45px;
			 position:relative;
			 left: 10em;
			 bottom:-2.9em;
			 border: none;
			 font-size: 16px;
			 border: #E7AB3C solid 3px;
			 border-radius: 5px;
			 color: #000;
			 padding-right: 20px;
		}
		
		#content-title {
			font-weight: 900;
		}
	
		#image-not {
			 width: 50px;
			 height: 50px;
			 display:block;
			 margin:auto;
			 margin-top: 10%;
			 margin-bottom:3%;
		}
		
		#emptyList {
		color: #E7AB3C;
		text-align: center;
		font-weight: 900;
		margin-bottom:25%;
		}